    body {
      font-family: Monospace;
      background: black;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      min-height: 100vh;
      margin: 0;
      padding-bottom: 100px;
      font-size: 20px;
    }
 textarea {
      width: 90%;
      max-width: 600px;
      height: 120px;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
      resize: vertical;
    }

    button {
      margin-top: 15px;
      padding: 10px 25px;
      border: none;
      background-color: #ffffff;
      color: black;
      border-radius: 6px;
      cursor: pointer;
      font-family: Monospace;
    }

    button:hover {
      background-color: #D3D3D3;
    }

    #output {
      margin-top: 25px;
      background: white;
      padding: 20px;
      color:black;
      border-radius: 8px;
      width: 90%;
      max-width: 600px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      text-align: center;
    }
    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: 20px 0;
      background: black;
    }
 a {
      color: #5f8fa6;
      margin: 0 8px;
      text-decoration: none;
    }
  a:hover {
      color: #4E778A;
    }
